.banner-container {
    width: 100%;
    overflow: hidden;
    height: 100%;
    position: relative;
    top:0;
  }
  
  .banner {
    top:0;
    left: 0;
    display: flex;
    width: 200%;
    z-index: 1;
    animation: moveBanner 10s linear infinite;
  }
  
  .banner-image {
    width: 100%;
    height:auto;
    object-fit: cover;
  }

  
  
  @keyframes moveBanner {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }
  