/* src/NavBar.css */
.navbar {
    background-color: rgba(190, 72, 94, 0.8); /* Background color with opacity */
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
    width: 100%;
    top: 0;
    z-index: 1000;
  }
  
  .navbar-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .navbar-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px; /* Adjust the size of the circle as needed */
    height: 70px;
    border-radius: 50%; /* Makes the background a circle */
    background-color: #c4f9eb; /* Background color of the circle */
    margin: 10px; /* Space between circles */
    animation: bounce 2s infinite; /* Add bounce animation */
  }
  
  .navbar-item:hover .navbar-icon {
    filter: brightness(1.5); /* Brighten the icon on hover */
    transform: scale(1.2); /* Slightly scale up the icon on hover */
  }
  
  .navbar-icon {
    width: 40px; /* Adjust the size of the icons as needed */
    height: 40px;
  }

  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-10px);
    }
    60% {
      transform: translateY(-5px);
    }
  }
  