.design {
    font-family: "Yarndings 12", system-ui;
    font-weight: 400;
    font-style: normal;
    color: rgb(255, 207, 144);
  }

  .slogan {
    font-family: "Shadows Into Light", cursive;
    font-weight: 600;
    font-style: normal;
    align-content: center;
    left: 50%;
    text-align: center;
    font-size: 40px;
    transition: opacity 0.5s ease-in-out;
    color: rgb(79, 18, 18);
  }

  .fade-in {
    opacity: 1;
  }
  
  .fade-out {
    opacity: 0;
  }